<div class="container px-2">
  <div class="row" style="width: 80%;">

  <h5>商品一覧</h5>
  <span class="text-right">
  <button onclick="location.href='items/new'", type="button" class="btn btn-secondary rounded-circle p-0" style="width:2rem;height:2rem;">＋</button>
  </span>
  </div>
  <div class="row">
  <table class="table">
  <thead class="table-secondary">
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= link_to item.name, admin_item_path(item.id) %></td>
      <td><%= item.price %></td>
      <td><%= item.genre.name %></td>
      <td><% if item.is_active == true %><span class="text-success font-weight-bold">販売中</span>
          <% else %><span class="text-secondary font-weight-bold">販売停止中</span>
          <% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>

<div class="row mx-auto"><%= paginate @items %></div>
</div>
