<div class="container px-2 px-sm-0">
  <h5>商品新規登録</h5>
  <div class="row mx-auto">
     <%= form_with model: @item, url:'/admin/items/new' do |f| %>
    <div  class="row">
     <label>商品画像</label>
     <%= f.file_field :image , accept: "image/*" %>
    </div>
    <div  class="row">
      <label>商品名</label>
      <%= f.text_field :name %>
    </div>
    <div  class="row">
      <label>商品説明</label>
      <%= f.text_area :introduction %>
    </div>
    <div  class="row">
      <label>ジャンル</label>

    </div>
    <div  class="row">
      <label>税抜価格</label>
      <%= f.number_field :price %>
    </div>
    <div  class="row">
      <label>販売ステータス</label>
    </div>
    <input class="btn btn-success" type="submit" Value="新規登録" >
    <% end %>
  </div>
</div>