<div class="container pt-3">
   <h5 class="col-2 text-center" style="background-color: #ddd;">商品新規登録</h5>


<div class="row">
<div class="mx-auto col-12">
     <%= form_with model: @item, url: admin_items_path, method: :post, local: true do |f| %>

     <label class="col-md-2">商品画像</label>
     <%= f.file_field :image , accept: "image/*" %></br>


      <label class="col-md-2">商品名</label>
      <%= f.text_field :name %></br>


      <label class="col-md-2">商品説明</label>
      <%= f.text_area :introduction %></br>

      <label class="col-md-2">ジャンル</label>
      <%= f.collection_select :genre_id, @genres, :id, :name, include_blank: "選択してください" %></br>



      <label class="col-md-2">税抜価格</label>
      <%= f.number_field :price %>円</br>

      <label class="col-md-2">販売ステータス</label>

      <%= f.radio_button :is_active, :true %>
      <%= f.label :is_active, "販売中" %>
      <%= f.radio_button :is_active, :false %>
      <%= f.label :is_active, "販売停止中" %></br>


<label class="col-md-2"></label>
    <%= f.submit '新規登録'%>

    <% end %>
</div>
</div>
</div>