
<div class="container px-2 px-sm-0">
  <div class="row">
    <h5>商品詳細</h5>
    <div class="col-4">
      <%= @item.image %>
    </div>
    <div class="col-7">
     <div>商品名<%= @item.name%></div>
     <div>商品説明<%= @item.introduction %></div> 
     <div>ジャンル<%= @item.genre_id %></div> 
     <div><%= %></div> 
    </div>
  </div>
</div>