<div class="container pt-3">

  <div class="row">
    <!--ジャンル検索-->
 <div class="col-2 h-75">
   <div class="border border-dark ">
    <p class="my-1 text-center"> ジャンル検索</p>
   </div>

   <div class="border border-dark border-top-0 pt-2 pl-2">
     <% @genres.each do |genre| %>
     <%= genre.name %></br>
     <% end %>
   </div>
 </div>
 <!---->




   <div class="col-7 cover-img" >
     <div class="card">
       <%= image_tag 'topcake',width: '100%', height: '75%', class:"d-block mx-auto background-image" %>
     <div class="card-img-overlay text-black font-weight-bold d-flex align-items-center" >
     <p class="mx-auto">ようこそ、ながのCAKEへ！</br>
     このサイトは、ケーキ販売のECサイトになります。</br>
     会員でない方も商品の閲覧はできますが、</br>
     購入には会員登録が必要になります。</br></p>
     </div>
   </div>
   </div>



  </div>

  <!--新着商品-->
   <div class="row">
     <div class="col-2"></div>
     <div class="col-10">
       <h3 class="my-3">新着商品</h3>
     </div>
     </div>


     <div class="row mb-0 pb-0">
       <div class="col-2"></div>
       <% @items.each do |item| %>
          <div class="col-2">
            <%= image_tag item.image, class:"img-fluid h-50 w-100" %></br>
            <%= item.name %></br>
             ￥<%= item.price.to_s(:delimited) %>
          </div>
       <% end %>

       </div>
  <div class="col-11 text-right">
     <%= link_to '全ての商品を見る＞', items_path %>
   </div>


  </div>
 </div>
</div>