<div class="container px-2 px-sm-0">
<h5>ジャンル一覧・追加</h5>
<div class="row">
<label>ジャンル名</label>
<%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
<%= f.text_field :name %>
 <%= f.submit '新規登録'%>
<% end %>
</div>
<div class="row">

<table class="table col-6">
  <thead class="table-secondary">
    <tr>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>
  <% @genres.each do |genre| %>
  <tbody>
    <tr>
      <td><%= genre.name %></td>
      <td><%= link_to "Edit", edit_admin_genre_path(genre.id), class:"btn btn-success" %></td>
    </tr>
  </tbody>

<% end %>
</table>
</div>
</div>