
<div class="container pt-3">
     <h5 class="col-2 text-center" style="background-color: #ddd;">配送先編集</h5>

<div class="row">
<div class="mx-auto col-12">
     <%= form_with model: @address, url: public_address_path, method: :pach, local: true do |f| %>

      <label class="col-md-3"><%= f.label '郵便番号(ハイフンなし)' %></label>
       <%= f.number_field :postal_code%></br>
      <label class="col-md-3"> <%= f.label '住所' %></label>
      <%= f.text_field :address, :size=> "60" %></br>
     <label class="col-md-3"><%= f.label '宛名' %></label>
    <label class="mr-5"> <%= f.text_field :name%></label>
      <%= f.submit "変更内容を保存", class:"btn btn-success" %>

     <% end %>
</div>
</div>
</div>