<div class="container pt-3">
  <h5 class="col-3 text-center" style="background-color: #ddd;">注文情報入力</h5>
  <div class="row">

<%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
 <div>
   <h5>支払方法</h5>

   <%= f.radio_button :payment_method, :credit_card %><%= f.label "クレジットカード" %>
   <%= f.radio_button :payment_method, :transfer %><%= f.label "銀行振込" %>

 </div>

 <div>
   <h5>お届け先</h5>
   <%= f.radio_button :address, :address %><%= f.label "ご自身の住所" %></br>
   〒<%= @orders.postal_code %>　<%= @orders.address %></br><%= "　" %><%= @orders.last_name %><%= @orders.first_name %></br>
   <%= f.radio_button :address, :address %><%= f.label "登録済住所から選択" %></br>
   <%= f.collection_select :address, Address.all, :id, :add_address, class:"col-6" %></br>

 </div>
 <% end %>


</div>
</div>
