<div class="container pt-3">
  <h5 class="col-3 text-center mb-3 ml-5" style="background-color: #ddd;">注文情報確認</h5>

  <div class="row">

  <!--注文情報テーブル-->
  <div class="col-7">
    注文情報
  　<table class="table table-bordered ">
   　 <tr class="table-secondary">
      <td class="col-3" style="background-color: #ddd;">注文日</td>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
     </tr>

     <tr>
      <td class="col-1" style="background-color: #ddd;">配送先</td>
      <td><%= @order.delivery_address %></td>
     </tr>

     <tr>
      <td class="col-1" style="background-color: #ddd;">支払方法</td>
      <td><%= @order.payment_method_i18n %></td>
     </tr>

      <tr>
       <td class="col-1" style="background-color: #ddd;">ステータス</td>
      </tr>
      </table>
    </div>

    <!--注文情報テーブル」」-->

       <% @total = 0 %>
       <% (@total + @order.shipping_cost).to_s(:delimited) %>


    <!--請求情報テーブル-->
      <div class="col-4">
       請求情報
       <table class="table table-bordered">
       　 <tr>
       　   <td class="col-1" style="background-color: #ddd;">商品合計</td>
       　   <td class="col-1"><%= @total %></td>
       　</tr>
       　<tr>
       　  <td class="col-1" style="background-color: #ddd;">配送料</td>
       　  <td class="col-1"><%= @order.shipping_cost %></td>
       　</tr>
       　<tr>
       　  <td class="col-1" style="background-color: #ddd;">ご請求額</td>
       　  <td class="col-1"><%= @order.total_payment %></td>
       　</tr>
       </table>
       </div>
       <!--請求情報テーブル」」-->

       <div class="col-10">
       注文内容
      <table class="table table-bordered ">
   　  <tr class="table-secondary">
       <td class="col-3" style="background-color: #ddd;">商品名</td>
       <td class="col-1" style="background-color: #ddd;">単価(税込)</td>
       <td class="col-1" style="background-color: #ddd;">数量</td>
       <td class="col-1" style="background-color: #ddd;">小計</td>
      </tr>
       <% @order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.item.add_tax_price %></td>
      <td><%= order_detail.amount %></td>
      <td> </td>
    </tr>
       <% end %>
       </table>

       </div>
    </div>
