<div class="container pt-3">
  <div class="row">

 <div class="col-2 h-75">
 <div class="border border-dark ">
    <p class="my-1 text-center"> ジャンル検索</p>
   </div>

   <div class="border border-dark border-top-0 pt-2 pl-2">
     <% @genres.each do |genre| %>
     <%= genre.name %></br>
     <% end %>
   </div>
 </div>

 <div class="col-10 d-flex">
<div class="col-5">
   <%= image_tag @item.image, class:"img-fluid h-75 w-100 " %>
</div>
<div class="col-7">
  <h5 class="font-weight-bold"><%= @item.name %></h5>
   <%= @item.introduction %></br></br>
   <span class="font-weight-bold">￥<%= @item.add_tax_price %></span><span class="small">(税込)</span></br></br>
   <% if @item.is_active == true %>
    <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |f| %>

    <%= f.select :amount, *[1..10], prompt: '個数選択' %>
    <%= f.hidden_field :item_id, :value => @item_id %>
    <%= f.submit 'カートに入れる', class:"btn btn-success ml-5" %>
    <% end %>
   <% end %>
</div>


 </div>

</div>
</div>